# Dependencies
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# Next.js build output
.next
out

# Environment files
.env
.env.local
.env.development
.env.production

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode
.idea

# Logs
*.log